numpy~=1.26.4
matplotlib~=3.10.8
pandas~=2.3.3
seaborn~=0.13.2
scipy~=1.15.2
numba~=0.63.0
jplephem~=2.23
ephem~=4.2
cartopy~=0.25.0
paramiko~=4.0.0
cython~=3.2.2
rebound~=4.4.11
reboundx~=4.5.0
astropy~=6.1.7
watchdog~=6.0.0
python-dateutil~=2.9.0.post0
packaging~=25.0
setuptools~=80.9.0
westernmeteorpylib~=1.0
tqdm~=4.67.1